ul.products_ul {
  list-type: none;
  margin-left: 10px;
  border: 1px solid #CCC;
  border-bottom: 0;
}

ul.products_ul li {
  border-bottom: 1px solid #DDD;
  background-color: #F9F9F9;
  list-style: none;
  margin-left: 0;
  padding: 3px;
}

ul.products_ul li .handle {
  display: inline-block;
  color: silver;
  width: 15px;
  cursor: move;
  text-align: center;
}
